#Python Class 1 - command to execute is shift+enter

#Comments in Python

In [ ]:
#Comments can be used to explain Python code, to make the code more readable, to prevent execution when testing code.


# Comment means an non executable code

# Single line comment

'''
MUltiline comments
'''

'\nMUltiline comments\n'

#print functions in python

In [ ]:

#keywords are group of words that have a specific functionality
#Print statement is used to print any values that we have given as a input
#In the below example We are priting a string Hello world where tha data that present inside the double braces its going to be printed as they are!!
print ("Hello World")

Hello World

In [ ]:
# to check verion of python
!python --version

Python 3.10.12

In [ ]:
'''
Python is a interpretor.

code -> Compiler/interpretor(Syntax check) -> MachineCode

Compiler : Tries to execute the code at once
Interpretor : tries to compile the code line by line
'''

#INDENTATION

In [ ]:
#refers to adding white space before a statement to a particular block of code
#It is a way of telling a Python interpreter that the group of statements belongs to a particular block of code
if 5 > 2:
  print ('Five is greater than two')
#If is a conditional loop which it checks the condition of the given data!
#we are checking whether 5 is greater than 2 if it is true then it is going to print the data that we are represented in print statement
#else it's going to be exited from the conditional loop!!

Five is greater than two

In [ ]:
if 5 > 2:
  print ('hello')
  if 3 < 7:
    print ('hi')
    print ('1')

print ('Five is greater than two')
#In this also it is same as we seen before but here there are two if conditions where we are comapring two conditions
#if the first if condition is true then it moves to second if condition because the second one is present inside the first one
#And also the last print statment it doesnt worry about anything if the condition is false or true it executes because it is outside of if statements!!

hello
hi
1
Five is greater than two

In [ ]:
# This is a python class

'''
This is Gayathri
'''

'\nThis is Gayathri\n'

#VARIABLES

In [ ]:
#Variables are containers for storing data values
#String variables can be declared either by using single or double quotes
#variables are something that tend to change
x = 5
y = "King" # all the words or sentences should be in ""
print (x)
print (y)

5
King

In [ ]:
#variable values can be replaced
x = 5
print (x)
x = 'Ram'
print (x)

5
Ram

In [ ]:
x = 10
if x > 5:
  print('Hello world')

Hello world

#CASTING

In [ ]:
#converts one datatype into another datatype
x = 3
print (type(x)) # type is the keyword to find the datatype in python

<class 'int'>

In [ ]:
x=int(3)
x=float(3)
x=str(3)

In [ ]:
x

'3'

In [ ]:
# declare a variable x with 100 and convert it to string and print

x = 100
y = str(x)
print (y)

100

In [ ]:
str(100)

'100'

In [ ]:
x = "John"
x = 'John'
# python '' or "" mean the same

In [ ]:
x = 'Gayathri'
if x == 'Gayathri':
  print ('My name is Gayathri')

My name is Gayathri

In [ ]:
# Formatting

x = 'Gayathri'
if x == 'Gayathri':
  print (f'My name is {x}')

My name is Gayathri

In [ ]:
apples = 40
oranges = 20

print (f'I boughts {apples} apples and {oranges} oranges')

I boughts 40 apples and 20 oranges

In [ ]:
# Restrictions on how variable names are declared
'''
myvar,my_var,_my_var,myVar,MYVAR,myvar2 -- Legalones

2myvar,my-var, my var - Illegal ones
'''

In [ ]:
x, y, z = 'Orange','Apple','Banana' # Many values to many vaiables

print (x)
print (y)
print (z)

Orange
Apple
Banana

In [ ]:
x = y = z = 'Grapes' #one value to multiple variables

print (x)
print (y)
print (z)

Grapes
Grapes
Grapes

In [ ]:
#unpack a collection

fruits = ['apple','banana','Mango']
x,y,z = fruits
print (x)
print (y)
print (z)

apple
banana
Mango

In [ ]:
# 1. create collection of 4 names and print using format
# 2. Create a varibles names with 4 legal and 4 ilegal
# 3. Declare same value to 3 vaiables and convert first variable to string, second to float and third to float. print all three variables

In [ ]:
names = ['ram','sita','laxman','john']

x,y,z,w = names

print (f'The name is {x}')
print (f'The name is {y}')
print (f'The name is {z}')
print (f'The name is {w}')

The name is ram
The name is sita
The name is laxman
The name is john

In [ ]:
x=y=z=3
print (str(x))
print (float(y))
print (float(z))

3
3.0
3.0

#Print function for multiple variables

In [ ]:
a = 'United' #string
b = 'states' #string
c = ' '
print (a+b) #+ operator is used to concatenate two strings
print (a+c+b)
print (f'{a} {b}')

Unitedstates
United states
United states

In [ ]:
# Question is I bought 4 apples as varibales : Concatenate them

x = 'I '
y = 'bought '
z = '4 '
w = 'apples'

print (x+y+z+w)

I bought 4 apples

#FUNCTIONS

In [ ]:
'''
Scenario : Addition of three numbers

1,2,3
4,5,6
7,8,9
'''

In [ ]:
x = 1
y = 2
z = 3

print (x+y+z)

x = 4
y = 5
z = 6

print (x+y+z)

x = 7
y = 8
z = 9

print (x+y+z)

6
15
24

In [ ]:
def sum3(x,y,z): # def funcname(arguments) : Function creation
  sum = x+y+z
  return sum

print (sum3(1,2,3)) # function calling
print (sum3(4,5,6)) # function calling
print (sum3(7,8,9)) # function calling

6
15
24

In [ ]:
# declare a variable with a value awesome and create a function that prints "Python is awesome"

def func1(a): #varibles that are there in the method are called local variables
  x = 'fantastic'
  print (f'Python is {a}')

x = 'awesome' #varibles that are declared outside the method are called as global variables
func1(x)

Python is awesome

In [ ]:
variable = "awesome"
def print_x(m):
    print("Python is",m)

print_x(variable)

Python is awesome

In [ ]:
# python method to find sum and multiplication of three numbers
# hint : methodname(2,3,4,'sum')

def summul(a,b,c,operation):
  if operation == 'sum':
    ans = a+b+c

  if operation == 'mul':
    ans = a*b*c

  return ans

In [ ]:
summul(2,3,4,'sum')

9

In [ ]:
summul(2,3,4,'mul')

24

In [ ]:
5%2

1

In [ ]:
# python method findevenorodd(45)
#Hint : num % 2 == 0 : % Remainder

def findevenorodd(num):
  if (num % 2 == 0):
    print ('even')
  if (num % 2 != 0):
    print ('odd')

findevenorodd(45)

odd

In [ ]:
def findevenorodd(num):
  if (num % 2 == 0):
    result = 'even'
  if (num % 2 != 0):
    result = 'odd'
  return result

findevenorodd(444)

'even'

#Data types in python

In [ ]:
'''
Text type : str
NUmeric ical TYpes : int, float, comple
Sequene datatypes : list, tuple and range
Mapping TYpe : dict
settypes : set
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType
'''
x = 'Dog killed a cat'
y = 64
z = 75.432
m1 = ['aijigr','fhuwhebr','fg'] # list needs to be in square bracket, list can take only strings, only numbers or both
m2 = [4,5.67,5.21]
m3 = ['deesg',4.4,'gregr']
n1 = ()
l1 = [i for i in range(10)]
l2 = [i for i in range(0,5)] #(start position, end_position)
l3 = [i for i in range(0,5,2)]

In [ ]:
l3 = [i for i in range(0,5,3)]
l3

[0, 3]

In [ ]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l2

[0, 1, 2, 3, 4]

In [ ]:
l3

[0, 2, 4]

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
l2 = [i for i in range(20,40)]
l2 = [i for i in range(20,40,4)]

In [ ]:
[i for i in range(20,40,4)]

[20, 24, 28, 32, 36]

In [ ]:
x=1
y=2.8

In [ ]:
type(x)

int

In [ ]:
type(y)

float

In [ ]:
a=float(x)
b=int(y)

In [ ]:
import random #import is a keyword to call the libraries into your code
random.randrange(1,10)

7

In [ ]:
x="1" #str(1)

In [ ]:
float(x)

1.0

#strings

In [ ]:
x="HI"
print(x)

HI

In [ ]:
b='''
This is a datascience course
we are learning python
'''

print(b)

This is a datascience course
we are learning python

In [ ]:
a= 'Hello computer'
a[0]

'H'

In [ ]:
len(a)

14

In [ ]:
for i in a:
  print(i)

H
e
l
l
o

c
o
m
p
u
t
e
r

In [ ]:
for i in range(0,len(a)):
  print(a[i])

H
e
l
l
o

c
o
m
p
u
t
e
r

In [ ]:
a.split(' ')

['Hello', 'computer']

In [ ]:
str='my name is Gayathri'
print(str.split(' '))

['my', 'name', 'is', 'Gayathri']

In [ ]:
str1 = "this is a basic class of python"
print("class" in str1)

True

In [ ]:
str1 = "this a basic class of python"
if "class" in str1:
  print("True")
else:
  print("False")

True

In [ ]:
if "expensive" in str1:
  print("True")
else:
  print("False")

False

In [ ]:
str2 = "Hello world"
str2[2:5] #always indexing happens in forward direction

'llo'

In [ ]:
str2[:4]

'Hell'

In [ ]:
str2[3:]

'lo world'

In [ ]:
str2[-5:-1]

'worl'

In [ ]:
str3 = "ram killed ravana"
str3.upper()

'RAM KILLED RAVANA'

In [ ]:
str3.lower()

'ram killed ravana'

In [ ]:
str3.replace("ram","king of ayodhya")

'king of ayodhya killed ravana'

In [ ]:
a="Hello"
b="world"
a+b

'Helloworld'

In [ ]:
a+ ' ' +b

'Hello world'

#Boolean operators

In [ ]:
print(10>5)

True

In [ ]:
print(5==9)

False

In [ ]:
a=200
b=13
if b>a:
  print("Hi")
else:
  print("Hello")

Hello

In [ ]:
def evenodd(x):
  for i in x:

    if i%2==0:
      print(i)
li = [i for i in range(0,10)]
evenodd(9)

In [ ]:
l1 = [10,20]

In [ ]:
def mathfunc(a,operation):
  if operation == 'addition':
    sum = 0
    for i in a:
      sum= sum+i
    return sum
  if operation == 'substraction':
    sub = a[0]
    for i in a[1:]:
      sub = sub-i
    return sub
  if operation == 'Multiplication':
    total = 1
    for i in a:
      total = total*i
    return total
  if operation == 'Division':
    div = a[0]
    for i in a[1:]:
      div = div/i
    return div

In [ ]:
l1 = [10,20]

In [ ]:
mathfunc(l1,'addition')

30

In [ ]:
mathfunc(l1,'substraction')

-10

In [ ]:
mathfunc(l1,'Multiplication')

200

In [ ]:
mathfunc(l1,'Division')

0.5

In [ ]:
for i in range(0,21):
  if i%2==0:
    print(i,'even')
  else:
    print(i,'odd')

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even

# OPERATORS

In [ ]:
' ' '
Arithmetic operators
assignment operators
logical operators
' ' '

In [ ]:
a=5
b=10

In [ ]:
a+b

15

In [ ]:
a-b

-5

In [ ]:
a%b

5

In [ ]:
a//b

0

In [ ]:
x=10
y=7

In [ ]:
# % modulus : gives the reminder of division
x%y

3

In [ ]:
x=7
y=3
print(x/y)

2.3333333333333335

In [ ]:
print(x//y) #perfroms rouning of the quotient

2

In [ ]:
l1 = [5,7]
l1[0]//l1[1]

0

In [ ]:
l1 = [i for i in range(0,10)]
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a=list(range(0,10))

In [ ]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
total = 1
for i in range(0,len(a)):
  if i%2==0:
    total = total*a[i]

In [ ]:
total

0

In [ ]:
total = 1
for i in range(0,len(a)):
  if i%2!=0:
    total = total*a[i]

In [ ]:
total

945

In [ ]:
l1 = [1,2,3]
l1.append(4)
print(l1)

[1, 2, 3, 4]

In [ ]:
l2 = [i for i in range(10,20)]

In [ ]:
l2

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
for i in l2:
  i += 3 # variable = variable + reminder # ASSIGNMENT OPERATOR
  print(i)

13
14
15
16
17
18
19
20
21
22

In [ ]:
for i in l2:
  i-= 3
  print(i)

7
8
9
10
11
12
13
14
15
16

In [ ]:
for i in l2:
  i*=3
  print(i)

30
33
36
39
42
45
48
51
54
57

In [ ]:
for i in l2:
  i//=3
  print(i)

3
3
4
4
4
5
5
5
6
6

In [ ]:
# Comparision operators

x=7
y=10

x==y

False

In [ ]:
x!=y

True

In [ ]:
x>y

False

In [ ]:
x<y

True

In [ ]:
x>=y

False

In [ ]:
x<=y

True

In [ ]:
# Logical operators

x=7 # if 7 is b/w 5 and 10
(x>5) and (x<10) # and operator both comaparisions have to be true

True

In [ ]:
(x<5) or (x<10)

True

In [ ]:
x=5
(x<10) and (x<0) and (x==5)

False

In [ ]:
(x<10) or (x<0) and (x==5)

True

#LISTS DATATYPE

In [ ]:
L1 = ['apple','banana','mango']
 # lists are mutable
 #it can be either only numbers or only strings or both

In [ ]:
l1 = ('apples','banana','mango')
l2 = list(l1) #to convert tuple to list

In [ ]:
l2

['apples', 'banana', 'mango']

In [ ]:
l2[2] #to access the elements

'mango'

In [ ]:
['apples', 'banana', 'mangoes'] #positive indexing[0,1,2] and negative indexing[-3,-2,-1]

In [ ]:
list=['apples','banana','orange','mango','kiwi','melon','cherry']

In [ ]:
list[1:5] # start:end it will always print from start till end-1

['banana', 'orange', 'mango', 'kiwi']

In [ ]:
list[0:4] # (startposition,endpoisiton-1)

['apples', 'banana', 'orange', 'mango']

In [ ]:
list[:4]

['apples', 'banana', 'orange', 'mango']

In [ ]:
list[-3:-1] # print from  -3 to -1-1 =-2

['kiwi', 'melon']

In [ ]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

if "cherry" in list: #question : do it using for loop
  print ('hi')

hi

In [ ]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
for i in list:
  if i in'cherry':
    print('hi')

hi

In [ ]:
#List is a collection which is ordered and changeable. Allows duplicate members.
#Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
#Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
#changing items in the list
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
list[2]='watermelon'

In [ ]:
list

['apple', 'banana', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
list[1:3]=['onion','tomatoes']

In [ ]:
list

['apple', 'onion', 'tomatoes', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
list.insert(2,'grapes')
list

['apple', 'banana', 'grapes', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
li = [i for i in range(1,101)]
even=[]
odd=[]
for i in li:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
print(even,odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100] [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
multiply = []
for j in l1:
  if j % 3 == 0:
    multiply.append(j)

In [ ]:
l2 = [i for i in range(1,101)]
l3=[]
mul=1
for i in l2:
  if i%3==0:
    l3.append(i)
print(l3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = ["orange", "kiwi", "melon", "mango"]
list1.extend(list2)
print(list1)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = ["orange", "kiwi", "melon", "mango"]
list1[0:1]
list2[3:]
list1.extend(list2)
print(list1)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = ["orange", "kiwi", "melon", "mango"]
list1[0:1].extend(list2)
print(list1)

['apple', 'banana', 'cherry']

In [ ]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
list.remove('cherry')
list

['apple', 'banana', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
list.pop(2)

'cherry'

In [ ]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
for i in list:
  if i==i:
    print(i)

apple
banana
cherry
orange
kiwi
melon
mango

In [ ]:
for i in range(0,len(list)):
  print(list[i])

apple
banana
cherry
orange
kiwi
melon
mango

In [ ]:
i=0
while(i<len(list)):
  print(list[i])
  i=i+1

apple
banana
cherry
orange
kiwi
melon
mango

In [ ]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
newlist=[]

for i in list:
  if 'a' in i:
    newlist.append(i)
print(newlist)

['apple', 'banana', 'orange', 'mango']

In [ ]:
newlist=[x for x in list if 'a' in x]
newlist

['apple', 'banana', 'orange', 'mango']

In [ ]:
# SORTING

li=[100,50,65,82,23]
li.sort()
li

[23, 50, 65, 82, 100]

In [ ]:
li.sort(reverse=True)
li

[100, 82, 65, 50, 23]

In [ ]:
def func(n):
  i=n-50
  if i<0:
    i*=-1
  return i

func(10)

40

In [ ]:
li=[100,50,65,82,23]
li.sort(key=func)
li

[50, 65, 23, 82, 100]

In [ ]:
'''
[50,0,15,32,27]
[0,1,2,3,4]
Sorted position [1,2,4,3,0]

'''

# Copy lists

In [ ]:
list1 = [12,45,67,89]
list2=list1.copy()
list2

[12, 45, 67, 89]

In [ ]:
list2[2]=45
list2 #these are called objects

[12, 45, 45, 89]

In [ ]:
list1=['a','b','c']
list2=[1,2,3]
list1 + list2

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1=[1,2,3]
list2=['a','b','c']
for i in list2:
  list1.append(i)
print(list1)

[1, 2, 3, 'a', 'b', 'c']

#TUPLES

In [ ]:
tup=('ab')

In [ ]:
len(tup)

2

In [ ]:
type(tup)

str

In [ ]:
t=('apple',) #for single elements we use , in tuples
print(t)

('apple',)

In [ ]:
print(type(t))

<class 'tuple'>

In [ ]:
tup1=("apple","banana","orange")
for i in range(0,len(tup1)):
  print(tup1[i])

apple
banana
orange

In [ ]:
i=0
while(i<len(tup1)):
  print(tup1[i])
  i=i+1

apple
banana
orange

SETS

In [ ]:
# sets are unordered, unchangable,unindexed....    indexing, not ordered, we can not add,append

myset={"cococnut","mango","orange"}

In [ ]:
myset={"cococnut","mango","orange"} #remove duplicates, unique values
mytup=("cococnut","mango","orange")
mylist=["cococnut","mango","orange"]

print(myset)
print(mytup)
print(mylist)

{'mango', 'orange', 'cococnut'}
('cococnut', 'mango', 'orange')
['cococnut', 'mango', 'orange']

In [ ]:
len(myset)

3

In [ ]:
type(myset)

set

In [ ]:
thisset = {'apple','banana','orange'}
set1={'grapes','melon'}

thisset.update(set1)
print(thisset)

{'melon', 'banana', 'orange', 'apple', 'grapes'}

# DICTIONARIES

In [ ]:
#key : value       structured
d1= {"ram":10,"rahul":20,"john":30}
d1

{'ram': 10, 'rahul': 20, 'john': 30}

In [ ]:
d1["john"]

30

In [ ]:
d1= {"ram":10,"rahul":20,"john":30,"john":40} #remove duplicate values and print updated value
d1

{'ram': 10, 'rahul': 20, 'john': 40}

In [ ]:
len(d1)

3

In [ ]:
#keys in the dictionary
d1.keys()

dict_keys(['ram', 'rahul', 'john'])

In [ ]:
d1.values()

dict_values([10, 20, 40])

In [ ]:
d1= {"ram":10,"rahul":20,"john":30}
d1["ram"]

10

In [ ]:
d1["Ram"] = 10
d1

{'ram': 10, 'rahul': 20, 'john': 30, 'Ram': 10}

In [ ]:
d1.items()  # returns a tuple of key value pairs

dict_items([('ram', 10), ('rahul', 20), ('john', 30), ('Ram', 10)])

In [ ]:
for k,v in d1.items():
  print(k)
  print(v)

ram
10
rahul
20
john
30
Ram
10

In [ ]:
thisdict={"marks_5_unjects":[24,68,94,56],"average":0,"rank":1}

In [ ]:
for k,v in thisdict.items():
  if k == "marks_5_unjects":
    sum=0
    for i in v:
      sum+=i
    av = sum/len(v)
  if k == "average":
    thisdict[k] =  av
print(thisdict)

{'marks_5_unjects': [24, 68, 94, 56], 'average': 60.5, 'rank': 1}

In [ ]:
thisdict["height"]=156
thisdict

{'marks_5_unjects': [24, 68, 94, 56],
 'average': 60.5,
 'rank': 1,
 'height': 156}

In [ ]:
#to remove a key from dictionary
thisdict.pop("height")

156

In [ ]:
thisdict

{'marks_5_unjects': [24, 68, 94, 56], 'average': 60.5, 'rank': 1}

In [ ]:
#variants of for loops in dictionary
for x in thisdict:
  print(x)

marks_5_unjects
average
rank

In [ ]:
for x in thisdict.keys():
  print(x)

marks_5_unjects
average
rank

In [ ]:
for x in thisdict.values():
  print(x)

[24, 68, 94, 56]
60.5
1

In [ ]:
for x in thisdict.items():
  print(x)

('marks_5_unjects', [24, 68, 94, 56])
('average', 60.5)
('rank', 1)

In [ ]:
friends = {'vijay':{'age':24,'height':157},'ram':{'age':27,'height':158},'john':{'age':22,'height':154}}

In [ ]:
friends

{'vijay': {'age': 24, 'height': 157},
 'ram': {'age': 27, 'height': 158},
 'john': {'age': 22, 'height': 154}}

In [ ]:
friends.keys()

dict_keys(['vijay', 'ram', 'john'])

In [ ]:
friends.values()

dict_values([{'age': 24, 'height': 157}, {'age': 27, 'height': 158}, {'age': 22, 'height': 154}])

In [ ]:
friends['vijay']

{'age': 24, 'height': 157}

In [ ]:
friends['vijay']['age']

24

#If_else_condtion

In [ ]:
a=33
b=22
if b>a:
  print('hi')
elif b==a:
  print('hello')
else:
  print('world')

world

In [ ]:
a=200
b=33
if a>b:
  print('a is greater than b')
elif a<b:
  print('b is less than a')
else:
  print('a is equal to b')

a is greater than b

In [ ]:
# short hand notation
a=2
b=330
print(a) if a>b else print(b)

330

In [ ]:
a=530
b=55
c=500
if a>b and a>c:
  print('hi')

hi

In [ ]:
a=33
b=200
if not a>b:
  print('hi')

hi

In [ ]:
# Nested if

x=15
if x>10:
  if x>20:
    if x>30:
      print('hi')
  else:
    print('hello')

hello

In [ ]:
x=15
if x>10:
  if x>20:
    pass
  else:
    print('hello')
    if x>30:
      print('hi')

hello

In [ ]:
dict1={"ram":14,"john":67,"ravi":42,"vijay":34}
for k,v in dict1.items():
  if v>40 and v<80:
    print(k)

john
ravi

In [ ]:
l1=[i for i in range(1,500)]
l2=[i for i in range(501,1000)]

dict1={"range1":l1,"range2":l2}

#while loop

In [ ]:
i=0
while i < 6:
  print(i)
  i=i+1

0
1
2
3
4
5

In [ ]:
i=0
while i < 6:
  print(i)
  if i==3:
    break
  i=i+1

0
1
2
3

In [ ]:
i=0
while i < 6:
  print(i)
  i+=1
  if i==3:
    continue #exit

0
1
2
3
4
5

In [ ]:
list=['apple','banana','cherry']
for i in list:
  if 'banana'in i:
    break
  else:
    print(i)

apple

In [ ]:
l1=[i for i in range(0,100,3)]
print(l1)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]